html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.MuiTabs-flexContainer {
  padding-top: 50px !important;
}

.MuiTab-root {
  margin-bottom: 20px !important;
}

.MuiTabs-scrollable {
  background-color: #ffe9df !important;
}

.section-body {
  display: flex; 
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
